In [5]:
import numpy as np
import pandas as pd
import sklearn

In [10]:
from sklearn.datasets import load_boston
f=load_boston()

In [11]:
f.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [12]:
boston=pd.DataFrame(f.data,columns=df.feature_names)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [13]:
boston["TARG"]=f.target

In [14]:
boston.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARG
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
TARG       0
dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X=boston.drop("TARG",axis=1)
Y=boston["TARG"]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.20, random_state=4)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [23]:
lin= LinearRegression()
lin.fit(X_train, Y_train)

LinearRegression()

In [30]:
Y_pred=lin.predict(X_train)
rmse=(np.sqrt(mean_squared_error(Y_train,Y_pred)))
print("The model performance for training set -> RMSE is {}".format(rmse))
print("\n")
Y_test_pred=lin.predict(X_test)
rmse=(np.sqrt(mean_squared_error(Y_test,Y_test_pred)))
print("The model performance for testing set -> RMSE is {}".format(rmse))

The model performance for training set -> RMSE is 4.604035178213393


The model performance for testing set -> RMSE is 5.04178412140204